<h1>アイテム一覧</h1>

  <%= form_tag(root_path, method: :get) do %>
    <h2>▼ 価格帯で検索</h2>
      <%= radio_button_tag 'price', '', true %>選択なし
      <%= radio_button_tag 'price', 'low' %>〜９,９９９円
      <%= radio_button_tag 'price', 'middle' %>１０,０００円〜１９,９９９円
      <%= radio_button_tag 'price', 'high' %>２０,０００円〜
    <h2>▼ カテゴリーで検索</h2>
      <%= select_tag :category, options_for_select(Item.categories_i18n.invert), prompt: "選択なし" %>
    <p><%= submit_tag "検索" %></p>
  <% end %>

<hr>
<%= render "item",items: @items %>
<br>
<%= link_to 'New Item', new_item_path %>
