
<p>
  <strong>出品者:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>商品イメージ:</strong><br>
  <% if @item.image? %>
  　　<%= image_tag @item.image.thumb.url, width: '200' %>
  　<% else %>
  　　<%= image_tag 'now_printing.png', width: '200'  %>
  <% end %>
</p>

<p>
  <strong>商品について:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>目標額:</strong>
  <%= number_to_currency(@item.target_price, :locale => 'jp') %>
</p>

<p>
  <strong>終了日:</strong>
  <%= @item.limited_at.strftime('%Y年%m月%d日') %>
</p>

<p><%= @item.supports.count %>件サポートされています。</p>
<p><%= @item.favorites.count %>人にお気に入りされています。</p>

<p><%= link_to 'このコースに申し込む', buy_path(@item), method: :post %></p>

<% if user_signed_in? && !@item.editable_by?(current_user) %>
  <% if @item.favorited_by?(current_user) %>
    <p><button><%= link_to 'お気に入りから削除', favorite_path(@favorite), method: :delete %></button></p>
  <% else %>
    <p><button><%= link_to 'お気に入りに登録', user_favorites_path(current_user.id, item_id: @item.id), method: :post %></button></p>
  <% end %>
<% end %>

<% unless user_signed_in? %>
  <p><button><%= link_to 'お気に入りに登録', user_favorites_path(0, item_id: @item.id), method: :post %></button></p>
<% end %>

 <%= link_to 'Back', root_path %>
