<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Image:</strong>
  <% if @item.image? %>
  　　<%= image_tag @item.image.thumb.url, width: '200' %>
  　<% else %>
  　　<%= image_tag 'now_printing.png', width: '200'  %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Target price:</strong>
  <%= number_to_currency(@item.target_price, :locale => 'jp') %>
</p>

<p>
  <strong>Limited at:</strong>
  <%= @item.limited_at.strftime('%Y年%m月%d日') %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', root_path %>
